{% extends 'base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Coronavirus information: How to stay safe</h1>
  <p class="lead">How do I protect myself? <br>
  Wash hands for about 20 seconds with soap and hot water or user a sanitiser gel.
  <br>
  Use a tissue for coughs and sneezes <br>
      Avoid touching your eyes, nose and mouth with unwashed hands. <br>
      Avoid close contact with people who are unwell <br>
      If you think you might have the virus, Ring 111 if you are in the UK, do NOT go to a GP surgery, pharmacy or hospital
  </p>
    <a href="https://www.bbc.co.uk/news/health-51711227" target="_blank" >Article Link</a>
    <a href="#" target="_blank" >Add to Favourite</a>
    <br>
    <div class="fb-share-button" data-href="https://www.bbc.co.uk/news/health-51711227" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.bbc.co.uk%2Fnews%2Fhealth-51711227&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    <script type="IN/Share" data-url="https://www.bbc.co.uk/news/health-51711227"></script>
</div>

{% endblock content %}
